# Create Delta table with pandas

In [24]:
import os

import pandas as pd
from deltalake import DeltaTable, write_deltalake

## Create Delta Lake

In [25]:
os.makedirs("tmp/my_delta_lake", exist_ok=True)

In [26]:
df = pd.DataFrame({"id": [0, 1, 2]})

In [27]:
write_deltalake("tmp/my_delta_lake", df)

In [28]:
DeltaTable("tmp/my_delta_lake").to_pandas()

   id
0   0
1   1
2   2

In [29]:
DeltaTable("tmp/my_delta_lake").to_pandas().to_clipboard()

## Append to Delta Lake

In [30]:
df2 = pd.DataFrame({"id": [4, 5]})

In [31]:
write_deltalake("tmp/my_delta_lake", df2, mode="overwrite")

In [32]:
DeltaTable("tmp/my_delta_lake").to_pandas()

   id
0   4
1   5

In [33]:
DeltaTable("tmp/my_delta_lake").to_pandas().to_clipboard()

## pandas time travel

In [34]:
dt = DeltaTable("tmp/my_delta_lake", version=0)

In [35]:
dt.to_pandas()

   id
0   0
1   1
2   2

In [36]:
DeltaTable("tmp/my_delta_lake").to_pandas()

   id
0   4
1   5

## Overwrite Delta Lake

In [37]:
df3 = pd.DataFrame({"id": [7, 8, 9]})

In [38]:
write_deltalake("tmp/my_delta_lake", df3, mode="overwrite")

In [39]:
DeltaTable("tmp/my_delta_lake").to_pandas()

   id
0   7
1   8
2   9

In [40]:
DeltaTable("tmp/my_delta_lake").to_pandas().to_clipboard()

## Confirm other versions are still accessible

In [41]:
DeltaTable("tmp/my_delta_lake", version=0).to_pandas()

   id
0   0
1   1
2   2

In [23]:
DeltaTable("tmp/my_delta_lake", version=1).to_pandas()

   id
0   0
1   1
2   2
3   4
4   5